{% extends "home.html" %}
{% load i18n %}
{% load allauth %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "Зміна паролю" %}{% endblock %}

{% block main %}
<div class="p-3 position-absolute top-50 start-50 translate-middle">
    <div class="p-3 rounded bg-dark" style="max-width:700px; width: 700px;">
        <div class="text-center">
            <h1>{% trans "Зміна паролю" %}</h1>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post" action="{% url 'account_change_password' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="d-grid mt-3">
                    <button class="btn btn-light btn-lg" type="submit">{% trans "Встановити новий пароль" %}</button>
                </div>     
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}