{% extends "home.html" %}

{% load i18n allauth account %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "Зміна паролю" %}{% endblock %}

{% block main %}
<div class="p-3 position-absolute top-50 start-50 translate-middle">
    <div class="p-4 rounded bg-dark" style="max-width:1300px; width: 100%;">
        <div class="text-center">
            <h1>{% trans "Скидання паролю" %}</h1>
            <p>{% blocktrans %}Трохи нижче вам потрібно вписати свою електронну пошту, для скидання паролю.{% endblocktrans %}</p>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="d-grid mt-3">
                    <button class="btn btn-light btn-lg" type="submit">{% trans "Скинути пароль" %}</button>
                </div>     
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}