{% extends "home.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}{% trans "Скидання паролю" %}{% endblock %}

{% block main %}
<div class="p-3 position-absolute top-50 start-50 translate-middle">
    <div class="p-3 rounded bg-dark" style="max-width:1200px; width: 100%;">
        <div class="text-center">
            <h3>{% blocktrans %}Вам було відправлено повідомлення на електронну пошту.{% endblocktrans %}</h3>
        </div>
    </div>
</div>
{% endblock %}