{% extends "home.html" %}

{% load i18n %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "Зміна паролю" %}{% endblock %}

{% block main %}
<div class="p-3 position-absolute top-50 start-50 translate-middle">
    <div class="p-3 rounded bg-dark" style="max-width:1200px; width: 100%;">
        <div class="text-center">
            <h1>{% trans "Пароль успішно оновлено" %}</h1>
            <p class="text"></p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var text = "{% blocktrans %}Вас буде перенесено на сторінку авторизації через - {% endblocktrans %}"
    var url = "{% url 'account_login' %}"
    var number = 3
    document.querySelector('.text').innerHTML = text + number
    setInterval(()=>{
        if (number < 0){
            window.location.replace(url)
        }
        document.querySelector('.text').innerHTML = text + number
    },1000)
</script>
{% endblock %}