{% extends "game/main.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "City Location" %}{% endblock %}
{% block map %}
<div class="navigation">
    <div class="map">
        <img src="{% static 'img/locations/center_loc.jpg' %}" class="image_map"/>
    </div>
    <div class="d-flex gap-4 mt-3">
        <a class="btn btn-outline-light btn-sm" href="{% url 'main_loc' %}">{% trans "Повернутися додому" %}</a>
        <a class="btn btn-warning btn-sm" href="{% url 'church_loc' %}">{% trans "Увійти до церкви" %}</a>
        <a class="btn btn-warning btn-sm" href="{% url 'shop_loc' %}">{% trans "Увійти до магазину" %}</a>
        <a class="btn btn-outline-light btn-sm" href="{% url 'outskirts_loc' %}">{% trans "Піти на окраїну міста" %}</a>
    </div>
</div>
{% endblock %}
{% block location %}
<div class="location_name d-flex flex-column justify-content-start align-items-center h-100">
    {% trans "Ви зараз знаходитесь у центрі міста"%}
</div>
{% endblock %}