{% extends "game/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/game/main.css' %}">
{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Game Main" %}{% endblock %}

{% block main %}
{% if error %}
<div class="message">
    <h1>{{error}}</h1>
</div>
{% endif %}
<div class="w-100 h-100 p-3 d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-between h-100">
        <div class="hero d-flex gap-2">
            <div>
                <div class="hero_health and name">
                    <div>
                        {{user.username}} [{{user.CheckEXP}}]
                    </div>
                    <div class="progress mt-1" style="height: 15px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{user.exp}}%;" aria-valuenow="{{user.exp}}" aria-valuemin="0" aria-valuemax="100">{% trans "досвід:" %}{{user.exp}}</div>
                    </div>
                </div>
                <div class="mt-1 hero_img_block">
                    <img src="{{user.get_class_img}}" class="hero_img"/>
                    <div class="hero_stats">
                        <div>{% trans "Характеристики" %}</div>
                        {% with user.get_summary_damage as dmg %}
                        <div class="mt-2">{% trans "Атака: " %} {{dmg.total}} ({{dmg.hero}}+{{dmg.bonus}})</div>
                        {% endwith %}
                        <div>{% trans "Захист: " %} {{user.return_all_armor}} ({{user.defence}}{% if user.armor_equiped is not None %}+{{user.armor_equiped.armor}}{% endif %})</div>
                        {% with user.get_summary_stats as stats %}
                        <div>{% trans "Сила: " %} {{stats.str.total}} ({{stats.str.hero}}{% if stats.str.sum >= 0 %}+{{stats.str.sum}}{% else %}-{{stats.str.sum}}{% endif %})</div>
                        <div>{% trans "Спритність: " %} {{stats.ag.total}} ({{stats.ag.hero}}{% if stats.ag.sum >= 0 %}+{{stats.ag.sum}}{% else %}-{{stats.ag.sum}}{% endif %})</div>
                    </div>
                </div>
                <div class="hero_health">
                    <div class="progress mt-2" style="height: 15px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{user.get_current_hp}}%;" aria-valuenow="{{user.get_current_hp}}" aria-valuemin="0" aria-valuemax="{{user.get_max_hp}}">{% trans "здоров'я:" %}{{user.get_current_hp}}</div>
                    </div>
                </div>
                <div class="mt-4">{% trans "Рахунок: " %} {{user.balance}} $</div>
                <div class="effects mt-3">
                    <div class="btn btn-light btn-sm effects-btn">{% trans "Ефекти" %}</div>
                    <div class="effects_info">
                        {% if stats.effects %}
                            {% for effect in stats.effects %}
                            <span>{{effect.name}}: {{effect.desc}} | {{effect.deleted_time|date:"H:i:s" }}</span>
                            {% endfor %}
                        {% else %}
                            <span>{% trans "Немає жодних ефектів накладених на героя." %}</span>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="mt-5 d-flex flex-column gap-1">
                {% if user.weapon_equiped %}
                    <img src="{{user.weapon_equiped.img.url}}" width="85px" height="85px"/>
                {% else %}
                    <div class="empty_img"></div>
                {% endif %}
                {% if user.weapon2_equiped %}
                    {% if user.weapon_equiped %}
                        <img src="{{user.weapon2_equiped.img.url}}" width="85px" height="85px"/>
                    {% else %}
                        <div class="empty_img"></div>
                    {% endif %}
                {% else %}
                    {% if user.armor_equiped %}
                        <img src="{{user.armor_equiped.img.url}}" width="85px" height="85px"/>
                    {% else %}
                        <div class="empty_img"></div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% block map %}
        <div class="navigation">
            <div class="map">
                
            </div>
            <div class="d-flex justify-content-center">
                <a href="{% url 'city_loc' %}" class="btn btn-outline-light mt-3">{% trans "Йти до міста" %}</a>
            </div>
        </div>
        {% endblock %}
    </div><hr/>
    {% block location %}
    <div class="location_name d-flex flex-column justify-content-end align-items-center h-100">
        {% trans "Ви зараз знаходитесь на головній локації"%}
    </div>
    {% endblock %}
    <hr/>
    {% block low %}
    <div class="h-100">
        Chat
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block script %}
<script>
    var elem = document.querySelector(".message");
    elem.addEventListener("click", () => {
        elem.classList.add("hidden");
    });
</script>
{% endblock %}