{% extends "game/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Class" %}{% endblock %}

{% block styles %}
<style>
    .role{
        width: 400px;
        height: 400px;
        border: none;
        outline: none;
        background: transparent;
        transition: all ease 300ms!important;
    }
    .role:hover{
        background-color: rgba(255,255,255, 0.5)!important;
    }
</style>
{% endblock %}

{% block main %}
<div class="w-100 p-3 position-absolute top-50 start-50 translate-middle">
    <div class="p-3 rounded bg-dark" style="width:100%;">
        <div class="row">
            <div><h1 class="text-light text-center">{% trans "Оберіть ваш ігровий клас" %}</h1></div>
            <div class="d-flex justify-content-around mt-4">
                {% for clas in classes %}
                    <form method="post" action="{% url 'select_class' %}">
                        {% csrf_token %}
                        <input type="hidden" name="role" value="{{clas.name}}"/>
                        <button type="submit" class="role d-flex flex-column text-light">
                            <div><img src="{{ clas.img }}" width="400px" height="300px"/></div>
                            <div class="text-center w-100 mt-4"><h2>{{clas.visual_name}}</h2></div>
                        </button>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}