{% extends "game/main.html" %}
{% load i18n %}
{% block head_title %}{% trans "Dungeon" %}{% endblock %}
{% block map %}
<div class="navigation">
    <div class="map">
    </div>
    <div>
        карта
    </div>
</div>
{% endblock %}
{% block location %}
<div class="d-flex justify-content-start align-items-center">
</div>
<div class="location_name d-flex flex-column justify-content-start align-items-center h-100">
    {% trans "Підземілля | Рівень:" %} {{user.dungeon.lvl}}
</div>
{% endblock %}
{% block low %}
<div class="w-100 h-100 d-flex flex-column align-items-center">
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-outline-light">{% trans "Підібрати скарб" %}</button>
    </form>
</div>
{% endblock %}